root = true
# Visual Studio가 C++ 설정을 사용하여 .editorconfig 파일을 생성했습니다.

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

indent_style = space
tab_width = 4
indent_size = 4
charset = utf-8-bom

# Visual C++ 코드 스타일 설정

cpp_generate_documentation_comments = doxygen_slash_star_exclamation

# Visual C++ 서식 설정

cpp_indent_braces = false
cpp_indent_multi_line_relative_to = innermost_parenthesis
cpp_indent_within_parentheses = align_to_parenthesis
cpp_indent_preserve_within_parentheses = true
cpp_indent_case_contents = true
cpp_indent_case_labels = true
cpp_indent_case_contents_when_block = false
cpp_indent_lambda_braces_when_parameter = true
cpp_indent_goto_labels = one_left
cpp_indent_preprocessor = leftmost_column
cpp_indent_access_specifiers = false
cpp_indent_namespace_contents = true
cpp_indent_preserve_comments = false
cpp_new_line_before_open_brace_namespace = new_line
cpp_new_line_before_open_brace_type = new_line
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = new_line
cpp_new_line_before_open_brace_lambda = same_line
cpp_new_line_scope_braces_on_separate_lines = true
cpp_new_line_close_brace_same_line_empty_type = false
cpp_new_line_close_brace_same_line_empty_function = false
cpp_new_line_before_catch = true
cpp_new_line_before_else = true
cpp_new_line_before_while_in_do_while = false
cpp_space_before_function_open_parenthesis = remove
cpp_space_within_parameter_list_parentheses = true
cpp_space_between_empty_parameter_list_parentheses = false
cpp_space_after_keywords_in_control_flow_statements = false
cpp_space_within_control_flow_statement_parentheses = true
cpp_space_before_lambda_open_parenthesis = false
cpp_space_within_cast_parentheses = true
cpp_space_after_cast_close_parenthesis = false
cpp_space_within_expression_parentheses = true
cpp_space_before_block_open_brace = true
cpp_space_between_empty_braces = false
cpp_space_before_initializer_list_open_brace = false
cpp_space_within_initializer_list_braces = true
cpp_space_preserve_in_initializer_list = true
cpp_space_before_open_square_bracket = false
cpp_space_within_square_brackets = true
cpp_space_before_empty_square_brackets = false
cpp_space_between_empty_square_brackets = false
cpp_space_group_square_brackets = true
cpp_space_within_lambda_brackets = false
cpp_space_between_empty_lambda_brackets = false
cpp_space_before_comma = false
cpp_space_after_comma = true
cpp_space_remove_around_member_operators = true
cpp_space_before_inheritance_colon = true
cpp_space_before_constructor_colon = true
cpp_space_remove_before_semicolon = true
cpp_space_after_semicolon = true
cpp_space_remove_around_unary_operator = true
cpp_space_around_binary_operator = insert
cpp_space_around_assignment_operator = insert
cpp_space_pointer_reference_alignment = left
cpp_space_around_ternary_operator = insert
cpp_wrap_preserve_blocks = one_liners

# ReSharper properties
resharper_case_block_braces = end_of_line
resharper_space_after_keywords_in_control_flow_statements = false
resharper_space_before_template_params = false
resharper_space_between_method_call_parameter_list_parentheses = true
resharper_space_between_method_declaration_parameter_list_parentheses = true
resharper_space_between_parentheses_of_control_flow_statements = true
resharper_space_between_square_brackets = true
resharper_space_between_typecast_parentheses = true
resharper_space_within_initializer_braces = true
resharper_space_within_parentheses = true
resharper_space_within_template_args = true
resharper_space_within_template_params = true
resharper_use_indent_from_vs = false

[*.{appxmanifest,axaml,axml,build,c,c++,cc,cginc,compute,config,cp,cpp,csproj,cu,cuh,cxx,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,jsproj,lsproj,mpp,mq4,mq5,mqh,njsproj,nuspec,paml,proj,props,resw,resx,StyleCop,targets,tasks,tpp,usf,ush,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

# ReSharper properties
resharper_align_first_arg_by_paren = true
resharper_align_multiline_binary_expressions_chain = true
resharper_align_multiline_expression_braces = true
resharper_anonymous_method_declaration_braces = end_of_line
resharper_case_block_braces = end_of_line
resharper_continuous_line_indent = double
resharper_indent_switch_labels = true
resharper_int_align_bitfield_sizes = true
resharper_int_align_comments = true
resharper_int_align_declaration_names = true
resharper_int_align_enum_initializers = true
resharper_int_align_eq = true
resharper_new_line_before_while = false
resharper_simple_embedded_statement_style = line_break
resharper_space_after_keywords_in_control_flow_statements = false
resharper_space_before_template_params = false
resharper_space_before_type_parameter_constraint_colon = false
resharper_space_between_method_call_parameter_list_parentheses = true
resharper_space_between_method_declaration_parameter_list_parentheses = true
resharper_space_between_parentheses_of_control_flow_statements = true
resharper_space_between_square_brackets = true
resharper_space_between_typecast_parentheses = true
resharper_space_within_declaration_parentheses = true
resharper_space_within_initializer_braces = true
resharper_space_within_parentheses = true
resharper_space_within_template_args = true
resharper_space_within_template_params = true
resharper_use_continuous_line_indent_in_method_pars = true
resharper_use_indent_from_vs = false
resharper_wrap_before_first_type_parameter_constraint = true
resharper_wrap_braced_init_list_style = chop_if_long

# ReSharper inspection severities
resharper_comment_typo_highlighting = none
resharper_cpp_clang_tidy_clang_diagnostic_misspelled_assumption_highlighting = none
resharper_identifier_typo_highlighting = none
resharper_markup_attribute_typo_highlighting = none
resharper_markup_text_typo_highlighting = none
resharper_string_literal_typo_highlighting = none

[*.{appxmanifest,axaml,axml,build,c,c++,c++m,cc,ccm,cginc,compute,config,cp,cpp,cppm,csproj,cu,cuh,cxx,cxxm,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,jsproj,lsproj,mpp,mq4,mq5,mqh,mxx,njsproj,nuspec,paml,proj,props,resw,resx,StyleCop,targets,tasks,tpp,usf,ush,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

# ReSharper inspection severities
resharper_consteval_if_is_always_constant_highlighting = warning
resharper_cpp_abstract_class_without_specifier_highlighting = warning
resharper_cpp_abstract_final_class_highlighting = warning
resharper_cpp_abstract_virtual_function_call_in_ctor_highlighting = error
resharper_cpp_access_specifier_with_no_declarations_highlighting = suggestion
resharper_cpp_awaiter_type_is_not_class_highlighting = warning
resharper_cpp_boolean_increment_expression_highlighting = warning
resharper_cpp_boost_format_bad_code_highlighting = warning
resharper_cpp_boost_format_legacy_code_highlighting = suggestion
resharper_cpp_boost_format_mixed_args_highlighting = error
resharper_cpp_boost_format_too_few_args_highlighting = error
resharper_cpp_boost_format_too_many_args_highlighting = warning
resharper_cpp_class_can_be_final_highlighting = hint
resharper_cpp_class_is_incomplete_highlighting = warning
resharper_cpp_class_needs_constructor_because_of_uninitialized_member_highlighting = warning
resharper_cpp_class_never_used_highlighting = warning
resharper_cpp_compile_time_constant_can_be_replaced_with_boolean_constant_highlighting = suggestion
resharper_cpp_concept_never_used_highlighting = warning
resharper_cpp_conditional_expression_can_be_simplified_highlighting = suggestion
resharper_cpp_const_parameter_in_declaration_highlighting = suggestion
resharper_cpp_const_value_function_return_type_highlighting = suggestion
resharper_cpp_coroutine_call_resolve_error_highlighting = warning
resharper_cpp_cv_qualifier_can_not_be_applied_to_reference_highlighting = warning
resharper_cpp_c_style_cast_highlighting = suggestion
resharper_cpp_declaration_hides_local_highlighting = warning
resharper_cpp_declaration_hides_uncaptured_local_highlighting = hint
resharper_cpp_declaration_specifier_without_declarators_highlighting = warning
resharper_cpp_declarator_disambiguated_as_function_highlighting = warning
resharper_cpp_declarator_never_used_highlighting = warning
resharper_cpp_declarator_used_before_initialization_highlighting = error
resharper_cpp_defaulted_special_member_function_is_implicitly_deleted_highlighting = warning
resharper_cpp_default_case_not_handled_in_switch_statement_highlighting = warning
resharper_cpp_default_initialization_with_no_user_constructor_highlighting = warning
resharper_cpp_default_is_used_as_identifier_highlighting = warning
resharper_cpp_deleting_void_pointer_highlighting = warning
resharper_cpp_dependent_template_without_template_keyword_highlighting = warning
resharper_cpp_dependent_type_without_typename_keyword_highlighting = warning
resharper_cpp_deprecated_entity_highlighting = warning
resharper_cpp_deprecated_register_storage_class_specifier_highlighting = warning
resharper_cpp_dereference_operator_limit_exceeded_highlighting = warning
resharper_cpp_dfa_array_index_out_of_bounds_highlighting = warning
resharper_cpp_dfa_constant_conditions_highlighting = warning
resharper_cpp_dfa_constant_function_result_highlighting = warning
resharper_cpp_dfa_constant_parameter_highlighting = warning
resharper_cpp_dfa_deleted_pointer_highlighting = warning
resharper_cpp_dfa_endless_loop_highlighting = warning
resharper_cpp_dfa_infinite_recursion_highlighting = warning
resharper_cpp_dfa_invalidated_memory_highlighting = warning
resharper_cpp_dfa_local_value_escapes_function_highlighting = warning
resharper_cpp_dfa_local_value_escapes_scope_highlighting = warning
resharper_cpp_dfa_loop_condition_not_updated_highlighting = warning
resharper_cpp_dfa_memory_leak_highlighting = warning
resharper_cpp_dfa_not_initialized_field_highlighting = warning
resharper_cpp_dfa_null_dereference_highlighting = warning
resharper_cpp_dfa_time_over_highlighting = hint
resharper_cpp_dfa_unreachable_code_highlighting = warning
resharper_cpp_dfa_unreachable_function_call_highlighting = warning
resharper_cpp_dfa_unread_variable_highlighting = warning
resharper_cpp_dfa_unused_value_highlighting = warning
resharper_cpp_discarded_postfix_operator_result_highlighting = suggestion
resharper_cpp_doxygen_syntax_error_highlighting = warning
resharper_cpp_doxygen_undocumented_parameter_highlighting = suggestion
resharper_cpp_doxygen_unresolved_reference_highlighting = warning
resharper_cpp_empty_declaration_highlighting = warning
resharper_cpp_enforce_cv_qualifiers_order_highlighting = none
resharper_cpp_enforce_cv_qualifiers_placement_highlighting = none
resharper_cpp_enforce_do_statement_braces_highlighting = none
resharper_cpp_enforce_for_statement_braces_highlighting = none
resharper_cpp_enforce_function_declaration_style_highlighting = none
resharper_cpp_enforce_if_statement_braces_highlighting = none
resharper_cpp_enforce_nested_namespaces_style_highlighting = hint
resharper_cpp_enforce_overriding_destructor_style_highlighting = suggestion
resharper_cpp_enforce_overriding_function_style_highlighting = suggestion
resharper_cpp_enforce_type_alias_code_style_highlighting = none
resharper_cpp_enforce_while_statement_braces_highlighting = none
resharper_cpp_entity_assigned_but_no_read_highlighting = warning
resharper_cpp_entity_used_only_in_unevaluated_context_highlighting = warning
resharper_cpp_enumerator_never_used_highlighting = warning
resharper_cpp_equal_operands_in_binary_expression_highlighting = warning
resharper_cpp_evaluation_failure_highlighting = error
resharper_cpp_explicit_specialization_in_non_namespace_scope_highlighting = warning
resharper_cpp_expression_without_side_effects_highlighting = warning
resharper_cpp_final_function_in_final_class_highlighting = suggestion
resharper_cpp_final_non_overriding_virtual_function_highlighting = suggestion
resharper_cpp_forward_enum_declaration_without_underlying_type_highlighting = warning
resharper_cpp_for_loop_can_be_replaced_with_while_highlighting = suggestion
resharper_cpp_functional_style_cast_highlighting = suggestion
resharper_cpp_function_doesnt_return_value_highlighting = warning
resharper_cpp_function_is_not_implemented_highlighting = warning
resharper_cpp_function_result_should_be_used_highlighting = hint
resharper_cpp_header_has_been_already_included_highlighting = hint
resharper_cpp_hidden_function_highlighting = warning
resharper_cpp_hiding_function_highlighting = warning
resharper_cpp_identical_operands_in_binary_expression_highlighting = warning
resharper_cpp_if_can_be_replaced_by_constexpr_if_highlighting = suggestion
resharper_cpp_implicit_default_constructor_not_available_highlighting = warning
resharper_cpp_incompatible_pointer_conversion_highlighting = warning
resharper_cpp_incomplete_switch_statement_highlighting = warning
resharper_cpp_inconsistent_naming_highlighting = hint
resharper_cpp_integral_to_pointer_conversion_highlighting = warning
resharper_cpp_invalid_line_continuation_highlighting = warning
resharper_cpp_join_declaration_and_assignment_highlighting = suggestion
resharper_cpp_lambda_capture_never_used_highlighting = warning
resharper_cpp_local_variable_may_be_const_highlighting = hint
resharper_cpp_local_variable_might_not_be_initialized_highlighting = warning
resharper_cpp_local_variable_with_non_trivial_dtor_is_never_used_highlighting = none
resharper_cpp_long_float_highlighting = warning
resharper_cpp_member_function_may_be_const_highlighting = suggestion
resharper_cpp_member_function_may_be_static_highlighting = suggestion
resharper_cpp_member_initializers_order_highlighting = suggestion
resharper_cpp_mismatched_class_tags_highlighting = warning
resharper_cpp_missing_include_guard_highlighting = warning
resharper_cpp_missing_keyword_throw_highlighting = warning
resharper_cpp_ms_ext_address_of_class_r_value_highlighting = warning
resharper_cpp_ms_ext_binding_r_value_to_lvalue_reference_highlighting = warning
resharper_cpp_ms_ext_copy_elision_in_copy_init_declarator_highlighting = warning
resharper_cpp_ms_ext_double_user_conversion_in_copy_init_highlighting = warning
resharper_cpp_ms_ext_not_initialized_static_const_local_var_highlighting = warning
resharper_cpp_ms_ext_reinterpret_cast_from_nullptr_highlighting = warning
resharper_cpp_multi_character_literal_highlighting = warning
resharper_cpp_multi_character_wide_literal_highlighting = warning
resharper_cpp_must_be_public_virtual_to_implement_interface_highlighting = warning
resharper_cpp_mutable_specifier_on_reference_member_highlighting = warning
resharper_cpp_nodiscard_function_without_return_value_highlighting = warning
resharper_cpp_non_exception_safe_resource_acquisition_highlighting = hint
resharper_cpp_non_explicit_conversion_operator_highlighting = hint
resharper_cpp_non_explicit_converting_constructor_highlighting = hint
resharper_cpp_non_inline_function_definition_in_header_file_highlighting = warning
resharper_cpp_non_inline_variable_definition_in_header_file_highlighting = warning
resharper_cpp_not_all_paths_return_value_highlighting = warning
resharper_cpp_no_discard_expression_highlighting = warning
resharper_cpp_object_member_might_not_be_initialized_highlighting = warning
resharper_cpp_out_parameter_must_be_written_highlighting = warning
resharper_cpp_parameter_may_be_const_highlighting = hint
resharper_cpp_parameter_may_be_const_ptr_or_ref_highlighting = suggestion
resharper_cpp_parameter_names_mismatch_highlighting = hint
resharper_cpp_parameter_never_used_highlighting = hint
resharper_cpp_pass_value_parameter_by_const_reference_highlighting = suggestion
resharper_cpp_pointer_conversion_drops_qualifiers_highlighting = warning
resharper_cpp_pointer_to_integral_conversion_highlighting = warning
resharper_cpp_polymorphic_class_with_non_virtual_public_destructor_highlighting = warning
resharper_cpp_possibly_erroneous_empty_statements_highlighting = warning
resharper_cpp_possibly_uninitialized_member_highlighting = warning
resharper_cpp_possibly_unintended_object_slicing_highlighting = warning
resharper_cpp_precompiled_header_is_not_included_highlighting = error
resharper_cpp_precompiled_header_not_found_highlighting = error
resharper_cpp_printf_bad_format_highlighting = warning
resharper_cpp_printf_extra_arg_highlighting = warning
resharper_cpp_printf_missed_arg_highlighting = error
resharper_cpp_printf_risky_format_highlighting = warning
resharper_cpp_private_special_member_function_is_not_implemented_highlighting = warning
resharper_cpp_range_based_for_incompatible_reference_highlighting = warning
resharper_cpp_redefinition_of_default_argument_in_override_function_highlighting = warning
resharper_cpp_redundant_access_specifier_highlighting = hint
resharper_cpp_redundant_base_class_access_specifier_highlighting = hint
resharper_cpp_redundant_base_class_initializer_highlighting = suggestion
resharper_cpp_redundant_boolean_expression_argument_highlighting = warning
resharper_cpp_redundant_cast_expression_highlighting = hint
resharper_cpp_redundant_complexity_in_comparison_highlighting = suggestion
resharper_cpp_redundant_conditional_expression_highlighting = suggestion
resharper_cpp_redundant_const_specifier_highlighting = hint
resharper_cpp_redundant_control_flow_jump_highlighting = hint
resharper_cpp_redundant_dereferencing_and_taking_address_highlighting = suggestion
resharper_cpp_redundant_elaborated_type_specifier_highlighting = hint
resharper_cpp_redundant_else_keyword_highlighting = hint
resharper_cpp_redundant_else_keyword_inside_compound_statement_highlighting = hint
resharper_cpp_redundant_empty_declaration_highlighting = hint
resharper_cpp_redundant_empty_statement_highlighting = hint
resharper_cpp_redundant_export_keyword_highlighting = warning
resharper_cpp_redundant_inline_specifier_highlighting = hint
resharper_cpp_redundant_lambda_parameter_list_highlighting = hint
resharper_cpp_redundant_member_initializer_highlighting = suggestion
resharper_cpp_redundant_namespace_definition_highlighting = suggestion
resharper_cpp_redundant_parentheses_highlighting = hint
resharper_cpp_redundant_qualifier_highlighting = hint
resharper_cpp_redundant_static_specifier_on_member_allocation_function_highlighting = hint
resharper_cpp_redundant_static_specifier_on_thread_local_local_variable_highlighting = hint
resharper_cpp_redundant_template_arguments_highlighting = hint
resharper_cpp_redundant_template_keyword_highlighting = warning
resharper_cpp_redundant_typename_keyword_highlighting = warning
resharper_cpp_redundant_void_argument_list_highlighting = suggestion
resharper_cpp_redundant_zero_initializer_in_aggregate_initialization_highlighting = suggestion
resharper_cpp_reinterpret_cast_from_void_ptr_highlighting = suggestion
resharper_cpp_remove_redundant_braces_highlighting = none
resharper_cpp_replace_memset_with_zero_initialization_highlighting = suggestion
resharper_cpp_replace_tie_with_structured_binding_highlighting = suggestion
resharper_cpp_return_no_value_in_non_void_function_highlighting = warning
resharper_cpp_smart_pointer_vs_make_function_highlighting = suggestion
resharper_cpp_some_object_members_might_not_be_initialized_highlighting = warning
resharper_cpp_special_function_without_noexcept_specification_highlighting = warning
resharper_cpp_static_assert_failure_highlighting = error
resharper_cpp_static_data_member_in_unnamed_struct_highlighting = warning
resharper_cpp_static_specifier_on_anonymous_namespace_member_highlighting = suggestion
resharper_cpp_string_literal_to_char_pointer_conversion_highlighting = warning
resharper_cpp_tabs_are_disallowed_highlighting = none
resharper_cpp_template_arguments_can_be_deduced_highlighting = hint
resharper_cpp_template_parameter_never_used_highlighting = hint
resharper_cpp_template_parameter_shadowing_highlighting = warning
resharper_cpp_throw_expression_can_be_replaced_with_rethrow_highlighting = warning
resharper_cpp_too_wide_scope_highlighting = suggestion
resharper_cpp_too_wide_scope_init_statement_highlighting = hint
resharper_cpp_type_alias_never_used_highlighting = warning
resharper_cpp_uninitialized_dependent_base_class_highlighting = warning
resharper_cpp_uninitialized_non_static_data_member_highlighting = warning
resharper_cpp_union_member_of_reference_type_highlighting = warning
resharper_cpp_unmatched_pragma_end_region_directive_highlighting = warning
resharper_cpp_unmatched_pragma_region_directive_highlighting = warning
resharper_cpp_unnamed_namespace_in_header_file_highlighting = warning
resharper_cpp_unnecessary_whitespace_highlighting = none
resharper_cpp_unsigned_zero_comparison_highlighting = warning
resharper_cpp_unused_include_directive_highlighting = warning
resharper_cpp_user_defined_literal_suffix_does_not_start_with_underscore_highlighting = warning
resharper_cpp_use_algorithm_with_count_highlighting = suggestion
resharper_cpp_use_associative_contains_highlighting = suggestion
resharper_cpp_use_auto_for_numeric_highlighting = hint
resharper_cpp_use_auto_highlighting = hint
resharper_cpp_use_elements_view_highlighting = suggestion
resharper_cpp_use_erase_algorithm_highlighting = suggestion
resharper_cpp_use_familiar_template_syntax_for_generic_lambdas_highlighting = suggestion
resharper_cpp_use_range_algorithm_highlighting = suggestion
resharper_cpp_use_std_size_highlighting = suggestion
resharper_cpp_use_structured_binding_highlighting = hint
resharper_cpp_use_type_trait_alias_highlighting = suggestion
resharper_cpp_using_result_of_assignment_as_condition_highlighting = warning
resharper_cpp_variable_can_be_made_constexpr_highlighting = suggestion
resharper_cpp_virtual_function_call_inside_ctor_highlighting = warning
resharper_cpp_virtual_function_in_final_class_highlighting = warning
resharper_cpp_volatile_parameter_in_declaration_highlighting = suggestion
resharper_cpp_warning_directive_highlighting = warning
resharper_cpp_wrong_includes_order_highlighting = hint
resharper_cpp_wrong_slashes_in_include_directive_highlighting = hint
resharper_cpp_zero_constant_can_be_replaced_with_nullptr_highlighting = suggestion
resharper_cpp_zero_valued_expression_used_as_null_pointer_highlighting = warning
resharper_c_declaration_with_implicit_int_type_highlighting = warning
resharper_if_std_is_constant_evaluated_can_be_replaced_highlighting = suggestion
resharper_std_is_constant_evaluated_will_always_evaluate_to_constant_highlighting = warning
